*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar-thumb {
  background-color: #ADD8E6;
  outline: 2px solid slategrey;
}

.more-details-section::-webkit-scrollbar-thumb{
	background-color: #ADD8E6;
  outline: 2px solid slategrey;
}

::-webkit-scrollbar {
  width: 5px;
}

.main{
	border: 2px solid #E5E4E2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 7% 30%;
	box-shadow: 12px 8px 3px #E5E4E2;
}

.err{
	margin-bottom: -30px;
	margin-top: 15px;
	position: relative;
	display: none;
}

.err-animation{
	display: flex;
	animation: error-show 1s ease-in-out;
}

.err-heading{
	text-align: center;
	color: Red;
}

.err-content{
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
}
#heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
}

.form-container{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.form-row-1,.form-row-2{
	display: flex;
	flex-direction: row;
}

.form-field{
	padding: 8px 33px;
	display: flex;
	flex-direction: column;
}

.form-field input{
	padding: 7px 0px;
	width:120%;
	border: 2px solid #89CFF0;
	border-radius: 5px;
}
.form-field label{
	padding: 7px 0;
}

.longer-input input{
	padding-left: 15px;
	padding-right: 50px;
}

.shorter-input input{
/*	padding: 7px -15px;*/
padding-left: 15px;
margin-right: -20px;
}

.submit{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 15px;
}

input[type="submit"]{
	padding: 7px 85px;
	border-radius: 20px;
	border: none;
	background-color: #0074B7;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover{
	box-shadow: 2px 5px 2px grey;
	background-color: blue;
}

.form-field input,.form-field label{
	margin-left: -15px;
}

.icon{
	position: relative;

}

.icon img{
	position: absolute;
	top:-28px;
	left: 95%;
}

#container{
	width: 100%;
}

.icon-short{
	position: relative;
}

.icon-short img{
	position: absolute;
	top: -31px;
	left: 75%;
	width: 27px;
}

.short-summary{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.summary-contents{
	list-style-type: none;
}

.summary-contents p{
	padding: 3px;
	font-size: 18px;
/*	text-align: center;*/
}

#summary-contents{
	margin-bottom: 10px;
}

.summary-contents-container{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.short-summary{
	display: none;
}

.short-summary-animation{
	display: flex;
	position: relative;
	animation: Left_To_Right 1.5s ease-in-out;
}

.summary-heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-bottom: 10px;
}

.short-summary-first-half{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30%;
	margin-bottom: 20px;
}

.short-summary-second-half{
	display: flex;
	justify-content: center;
}

.short-summary-content p{
	font-size: 18px;
	text-align: center;
}

.content-heading{
	font-size: 19px !important;
	margin-bottom: 7px;
}

.view-details{
	padding: 7px 85px;
	border-radius: 20px;
	border: none;
	background-color: #0074B7;
	font-weight: bold;
	cursor: pointer;
}

.view-details:hover{
	box-shadow: 2px 5px 2px grey;
	background-color: blue;
}

.more-details-section{
	border: 2px dotted black;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 25%;
	box-shadow: 15px 12px 4px grey;
	position: fixed;
	top: 10%;
	margin-bottom: 20%;
	margin-top: 15px;
    width: 50%;
    overflow-y: scroll;
    height: 80%;
    display: none;
}

.more-details-section-animation{
	display: flex;
	animation: Bottom_To_Top 1.5s ease-in-out;
}

.more-details{
	width: 100%;
	height: 100%;
}

.heading-container{
	width: 100%;
	margin-bottom: 15px;
}

.close-btn-container{
	text-align: right;
	font-size: 20px;
	padding: 5px;
	width: 100%;
/*	margin-top: 15%;*/
}

#close-btn{
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	border: none;
	background-color: red;
	font-size: 20px;
	margin-right: 15px;
}

.detiled-summary-heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
	justify-content: center;
	text-align: center;
	display: flex;
}
.laptop{
	display: flex;
}
.mobile-short, .mobile-long{
	display: none;
}

/* Media queries */
@Media only screen and (max-width: 1000px){
	.main{
		margin: 7% 15%;
	}

	.more-details-section{
		margin: 0 25%;
		margin-bottom: 20%;
		margin-top: 15px;
	}

	.summary-contents-container{
		padding: 15px;
	}
}

@Media only screen and (max-width: 650px){
	.main{
		margin: 7% 10%;
	}
	.more-details-section{
		margin: 0 20%;
		width: 60%;
	}

}

@Media only screen and (max-width: 550px){
	.main{
		margin: 7% 5%;
	}
	.form-row-1,.form-row-2{
		flex-direction: column;
	}

	.laptop{
		display: none;
	}

	.mobile-short, .mobile-long{
		display: flex;
	}

	.form-row-2{
		flex-direction: row;
	}

	.form-field input{
		padding: 8px 25px;
		margin-left: -30px;
	}
	.icon-short img{
		left: 72%;
	}
}

@Media only screen and (max-width: 470px){
	.more-details-section{
		margin: 0 10%;
		width: 80%;
	}
}

@Media only screen and (max-width: 390px){
	.break-word label{
		inline-size: 50px !important;
	}
	.icon-short img{
		left: 50%;
	}
	.content-heading{
		font-size: 16px !important;
	}
	.short-summary-content p{
		font-size: 15px !important;
	}
	.detiled-summary-heading{
		font-size: 20px;
	}
	.summary-contents p{
		font-size: 16px;
	}
	#close-btn{
		padding: 3px 7px;
	}
}

@keyframes Left_To_Right{
	from{
		margin-left: -30%;
		margin-right: 60%;
		left:0;
	}

	to{
/*		left:5%;*/
		margin-left: 30%;
	}
}

@keyframes Bottom_To_Top{
	from{
		top:60%;
	}

	to{
		top: 10%;
	}
}

@keyframes error-show{
	from{
		top: -100px;
	}
	To{
		top: 0;
	}
}