*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.err-heading{
	text-align: center;
	color: red;
	font-weight: bold;
}

.err-content{
	display: flex;
	justify-content: center;
}
.err-content p{
	margin-top: 7px;
	font-size: 19px;
	color: #880808;
}

.main{
	border: 2px solid #E5E4E2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 7% 30%;
	box-shadow: 12px 8px 3px #E5E4E2;
}

.err-main{
	margin: 2% 30% !important;
	margin-bottom: -3% !important;
	display: none;
}

.err-show{
	display: block;
/*	animation: show-err 2s ease-in-out;*/
}

#heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
}

.form-container{
	margin: 10px;
}

.form-row-1,.form-row-2{
	display: flex;
	flex-direction: row;
}

.form-field{
	padding: 8px 33px;
	display: flex;
	flex-direction: column;
}

.form-field input{
	padding: 7px 0px;
	width:120%;
	border: 2px solid #89CFF0;
	border-radius: 5px;
}
.form-field label{
	padding: 7px 0;
}

.longer-input input{
	padding-left: 15px;
	padding-right: 50px;
}

.shorter-input input{
/*	padding: 7px -15px;*/
padding-left: 15px;
margin-right: -20px;
}

.submit{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 15px;
}

input[type="submit"]{
	padding: 7px 85px;
	border-radius: 20px;
	border: none;
	background-color: #0074B7;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover{
	box-shadow: 2px 5px 2px grey;
	background-color: blue;
}

.form-field input,.form-field label{
	margin-left: -15px;
}

.icon{
	position: relative;

}

.icon img{
	position: absolute;
	top:-28px;
	left: 95%;
}

.icon-short{
	position: relative;
}

.icon-short img{
	position: absolute;
	top: -31px;
	left: 75%;
	width: 27px;
}

.short-summary{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	display: none;
}

.summary-contents{
	list-style-type: none;
}

.summary-contents p{
	padding: 3px;
	font-size: 18px;
/*	text-align: center;*/
}

#summary-contents{
	margin-bottom: 10px;
}

.summary-contents-container{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.short-summary-animation{
	display: flex;
	position: relative;
	animation: Left_To_Right 1.5s ease-in-out;
}

.summary-heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-bottom: 7px;
}

.view-details{
	padding: 7px 85px;
	border-radius: 20px;
	border: none;
	background-color: #0074B7;
	font-weight: bold;
	cursor: pointer;
}

.view-details:hover{
	box-shadow: 2px 5px 2px grey;
	background-color: blue;
}

.more-details-section{
	border: 2px solid #E5E4E2;
	background-color: #bff5e9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 25%;
	box-shadow: 12px 8px 3px #E5E4E2;
	position: fixed;
	top: 10%;
	margin-bottom: 20%;
	margin-top: 15px;
    width: 50%;
    overflow-y: scroll;
    height: 80%;
    display: none;
}

.more-details-section-animation{
	display: flex;
	animation: Bottom_To_Top 1.5s ease-in-out;
}

.more-details{
	width: 100%;
	height: 100%;
}

.heading-container{
	width: 100%;
	margin-bottom: 15px;
}

.close-btn-container{
	text-align: right;
	font-size: 20px;
	padding: 5px;
	width: 100%;
/*	margin-top: 15%;*/
}

#close-btn{
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	border: none;
	background-color: red;
	font-size: 20px;
	margin-right: 15px;
}

.detiled-summary-heading{
	color: #4169E1;
	padding: 15px 0 10px 0;
	justify-content: center;
	text-align: center;
	display: flex;
}

@keyframes Left_To_Right{
	from{
		margin-left: -30%;
		margin-right: 60%;
		left:0;
	}

	to{
/*		left:5%;*/
		margin-left: 30%;
	}
}

@keyframes Bottom_To_Top{
	from{
		top:60%;
	}

	to{
		top: 10%;
	}
}

/*@keyframes show-err{
	from{
		display: block !important;
		position: relative;
		top:15px;
	}

	to{
		top: 30px;
	}
}*/